@{
    ViewData["Title"] = "Contact Us";
}

<div class="container mt-3">
    <h2>@ViewData["Title"]</h2>
    <p>If you have any questions, you can reach us at:</p>
    <ul>
        <li>Email: Shadisnam@gmail.com</li>
        <li>Phone: 0546505304</li>
        <li>Address: 123 Main Street, Anytown, AN 12345</li>
    </ul>
    <p>Follow us on social media for the latest updates:</p>
    <ul>
        <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
        <li><a href="https://facebook.com" target="_blank">Facebook</a></li>
        <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
    </ul>
</div>
